:local(.list){
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0;
    
}
@media print{
    :local(.list){
        display: block;
        height: auto !important;
        margin: 0;
    }
}