:local(.listItem){
    min-height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid #EFEFEF;
    font-weight: normal;
    max-height: 600px;
}

:global .list-enter.list-enter-active{
    opacity: 1;
    transition: .3s;
}

:global .list-enter{
    opacity: 0;
}

:global .list-leave-active{
    transition: .3s;
    opacity: 0;
    max-height: 0;
}

