:local(.button) {
  margin-right: 0;
  border: none;
  outline: none;
  background: none;
  text-align: left;
  font-weight: 400;
  font-size: 17px;
  padding: 5px 0;
  cursor: pointer;
}
:local(.button:hover) {
  border-bottom: 3px solid 606060;
}
:local(.wrapper) {
  position: relative;
}
:local(.wrapper:hover:after) {
  transform: scaleX(1);
}

:local(.wrapper::after) {
  content: "";
  position: relative;
  background: #606060;
  display: block;
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.3s;
}
